@font-face {
    font-family: Consolas;
    src: url("../fonts/ConsolasWeb.woff2");
}

.overlay {
    width: 90vw;
    height: 90vh;
    border-left: solid 5vw red;	
	border-radius: 10vw;
    position: absolute;
    top: 0;
    left: 0;
}

.topContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";

    .foregroundText {
        grid-area: inner-div;

        h1 { 
            display: block;
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 4em;
            color: rgb(255, 255, 255);
            text-align: center;
            padding-left: 5vw;
            padding-right: 5vw;
            user-select: none;
            z-index: -1;
        }

        #foregroundWordSwitch { 
            color: rgb(255, 255, 255);
            font-weight: 800;
            z-index: -1;
        }

        #foregroundWordCursor { 
            color: rgb(189, 189, 189);
            font-weight: 300;
            padding-left: .1em;
            animation-name: blink;
            animation-fill-mode: both;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            z-index: -1;
        }

        #foregroundWordCursor.paused { 
            font-weight: 500;
            opacity: 1;
            animation: none;
        }
    }

    .backgroundText {
        position: absolute;
        top: 0;
        z-index: -4;
        overflow: hidden;
        max-height: 100%;
        width: 100%;

        mask-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));

        h2 {
            display: block;
            font-family: Consolas;
            font-weight: 300;
            font-size: 1em;
            color: rgb(55, 55, 55);
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            white-space: nowrap;
            user-select: none;
            transition-timing-function: ease-in-out;
        }
    }

    .backgroundText.disabled {
        display: none;
    }

    #fgImage {
        transition: 0.1s;
        z-index: -3;
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        object-position: left;
        
    }
    #bgImage {
        transition: 0.01s;
        opacity: 30%;
        z-index: -5;
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
        object-fit: cover;
        object-position: left;
        width: 100vw;
        height: 100vh;
    }
}

.about {
    width: 100%;
    padding: 5vw;
    padding-top: 20vh;
    margin: auto;
    box-sizing: border-box;

    p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 1.5em;
        color: #ffffff;
        text-align: left;
    }
}

#workTitle {
    text-align: center; 
    font-family: Poppins;
    color: #ffffff;
    font-size: 3em; 
    font-weight: 800;
}

div#reducedWarning {
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: none;
    
    a {
        font-family: 'Consolas';
        text-decoration: underline;
        color: rgb(255, 255, 255);
    }
}

html {
    background-color: rgb(25, 25, 25);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}