.itemGrid {
    columns: 4;
    column-gap: 1em;
    padding-left: 5vw;
    padding-right: 5vw;
}

@media only screen and (max-width: 1500px) { 
    .itemGrid {
        columns: 3;
    }
}

@media only screen and (max-width: 1200px) { 
    .itemGrid {
        columns: 2;
    }

    .topContainer {
        #fgImage {
            display: none;
        }
        #bgImage {
            display: none;
        }
    }

    .foregroundText {
        #phoneBreak {
            display: inline;
        }
        h1 { 
            font-size: 1em;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
    }

    .backgroundText {
        margin-top: 5vw;
        h2 {
            margin-left: 5vw !important;  
        }
    }
}

@media only screen and (max-width: 700px) { 
    .itemGrid {
        columns: 1;
    }
}