---
import ItemGrid from "../layouts/itemGrid.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content='width=device-width, initial-scale=1' name='viewport'/>
		<meta name="generator" content={Astro.generator} />

		<title>Portfolio | aldenw.ong</title>
		<meta name="description" content="Hi, I'm Alden!">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/mainStyle.css">
		<link rel="stylesheet" href="css/windowResize.css">
		<link rel="stylesheet" href="css/effects.css">
		<link rel="stylesheet" href="css/layering.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preload" href="fonts/ConsolasWeb.woff2" as="font" type="font/woff2" crossorigin>
		<style>
			@font-face {
				font-family: Consolas;
				src: url("fonts/ConsolasWeb.woff2");
			}
		</style>

		<script src="../scripts/reset.js" />
		<script src="../scripts/bgTextCreator.js" />
		<script src="../scripts/scrollBgEffect.js" />
		<script src="../scripts/titleSequence.js" />
	</head>

	<body>
		<div class="topContainer">
			<div class="backgroundText" id="backgroundTextElement">
			</div>
			<div class="foregroundText">
				<h1 id="foregroundTitle">hi, i'm <span id="phoneBreak" style="display: none;"><br></span><span id="whoAmIText"></span><span id="blinkingCursor">|</span></h1>
			</div>
			<img id="fgImage" src="img/FG.png" draggable="false">
			<img id="bgImage" src="img/BG.png" draggable="false">
		</div>

		<div class="about">
			<h1>
				Hi! I'm Alden.
			</h1>
			<p>
				<br><br>I'm currently a student aiming to get a degree in Computer Science. I enjoy tinkering with technology, running a homelab in my spare time and creating whatever projects come to mind.
				Aside from programming, I also have a bunch of other hobbies I do in my free time. 
				I mainly enjoy playing video games with friends, but I also enjoy indoor rock climbing, listening to music, video editing, and more.
			</p>
			<p id="socialLinks">
				<br>
				<a href="https://github.com/aldnwong" target="_blank" style="text-decoration: none; color: white;" class="fa fa-github" />
				<a href="mailto:hi@aldenw.ong" target="_blank" style="text-decoration: none; color: white;" class="fa fa-envelope" />
			</p>
		</div>

		<div style="height:10vh; width: 100%; content:'';" />

		<h1 id="projectsTitle">
			Projects
		</h1>

		<div style="height:5vh; width: 100%; content:'';" />

		<div class="itemGrid">
			<ItemGrid></ItemGrid>
		</div>
	</body>
</html>